<div class="stopwatch">
  <h1>{{time}}</h1>
  <section class="controls">
    <div *ngIf="!isRunning; else stopBlock">
      <button class="circle-button" (click)="start()">
        <mat-icon>play_arrow</mat-icon>
      </button>
    </div>
    <ng-template #stopBlock>
      <button class="circle-button circle-button-red" (click)="stop()">
        <mat-icon>stop</mat-icon>
      </button>
    </ng-template>
    <div>
      <button class="circle-button" #wait>
        <mat-icon>pause</mat-icon>
      </button>
    </div>
    <div>
      <button class="circle-button" (click)="reset()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </section>
</div>